[Unit]
Description=Check Domain via TG
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 -B /opt/domain-ip-dnsbl-info-tg/main.py
Restart=always

[Install]
WantedBy=multi-user.target
