TOKEN='123:abc'
ADMIN_CHAT_ID='123'

# Domain
HOSTING_IPS=127.0.0.1,192.168.1.2
HOSTING_NAME='Caranya Begini'

# IP
BLSEVER=b.barracudacentral.org,zen.spamhaus.org,spam.dnsbl.sorbs.net,dnsbl.sorbs.net,cbl.abuseat.org,spam.abuse.ch,bl.spamcop.net,bl.blocklist.de,dbl.spamhaus.org,dnsbl-1.uceprotect.net,dnsbl-2.uceprotect.net,dnsbl-3.uceprotect.net